{% extends "base.html" %}

{% block title %}Automobilis{% endblock %}

{% block content %}
{% load static %}

<h2>Info apie automobilį:</h2>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>Savininkas: <b>{{ auto.client }}</b></p>
      <p>Automobilio modelis: <b>{{ auto.make }} {{ auto.model }}</b></p>
      <p>Valstybinis numeris: <b>{{ auto.license_plate }}</b></p>
      <p>VIN: <b>{{ auto.vin_code }}</b></p>
    </div>
    <div class="col-md-6 col-sm-12">
      {% include "image.html" %}
    </div>
  </div>
  <hr>
  <div>
   {{ auto.description | safe }} 
  </div>
</div>
{% endblock %}