{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Car" %}{% endblock %}

{% block content %}
{% load static %}

<h2>{% trans "Info about the car: " %}</h2>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p><b>{% trans "Client: " %}</b>{{ auto.client }}</p>
      <p><b>{% trans "Car model: " %}</b>{{ auto.make }} {{ auto.model }}</p>
      <p><b>{% trans "License plate: " %}</b>{{ auto.license_plate }}</p>
      <p><b>VIN: </b>{{ auto.vin_code }}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      {% include "image.html" %}
    </div>
  </div>
  <hr>
  <div>
   {{ auto.description | safe }} 
  </div>
</div>
{% endblock %}