<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">PRADŽIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'automobiliai' %}">Automobiliai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'uzsakymai' %}">Užsakymai</a>
        </li>
      </ul>
      </div>
      <div class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i>
            {{ user.username }}
          </a>
          <ul class="dropdown-menu bg-success">
            <li>
              <a class="dropdown-item text-white bg-success" href="{% url 'manouzsakymai' %}">Mano Užsakymai</a>
            </li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="dropdown-item text-white bg-success" type="submit">Atsijungti</button> 
              </form>
            </li>
        {% else %}
          <li>
            <a class="nav-link" href="{% url 'login' %}">Prisijungti</a>
          </li>
        {% endif %}     
        </ul> 
        <li>
          <form action="{% url 'paieska' %}" method="get" class=" me-auto">
            <input name="query" class="form-control" type="text" placeholder="Paieška">
          </form>
        </li>
      </li>  
  </div>
  </div>
</nav>
