{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
{% load static %}

<h2>{% trans "Search results:" %}</h2>
<hr>
{% if query != "" %}
<p>{% trans "Results from query: " %}"<b>{{ query }}</b>"</p>
{% else %}
<p>{% trans "Showing all cars" %}</p>
{% endif %}
<div class="row">
  {% for auto in autos %}
  {% include "cover.html" %}
  {% empty %}
  <p class="mx-3">{% trans "No results found" %}</p>
  {% endfor %}
</div>
{% include "paginator.html" with page_obj=autos %}
{% endblock %}