{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "User profile" %}{% endblock %}

{% block content %}
{% load static %}
<h2>{% trans "My profile" %}</h2>
<hr>
<div class="row">
  <div class="col-md-7">
      <p><b>{% trans "Username: " %}</b>{{ user.username }}</p>
      <p><b>{% trans "First name: " %}</b>{{ user.first_name }}</p>
      <p><b>{% trans "Last name: " %}</b>{{ user.last_name }}</p>
      <p><b>{% trans "Email: " %}</b>{{ user.email }}</p>
  </div>
  <div class="col-md-5">
    {% if user.photo %}
    <img src="{{ user.photo.url }}" class="mb-4 rounded-circle" 
    style="width: 300px; border:2px solid rgb(0, 0, 0);">
    {% else %}
    <img src="{% static 'img/no-profile.png' %}" class="mb-4 pt-2 rounded-circle" 
    style="max-width: 200px; border:2px solid rgb(0, 0, 0);">

    {% endif %}
  </div>
</div>
    <h2>{% trans "Edit profile" %}</h2>
    <hr>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% load crispy_forms_tags %}
      {{ form | crispy }}
      <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
    </form>

{% endblock %}
