{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Order delete" %}{% endblock %}

{% block content %}
<h2>{% trans "Order deletion" %}</h2>
<hr>
<p>{% trans "Do you really want to delete order: " %}{{ uzsakymas }}?</p>
<form method="POST">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <button type="submit" class="btn btn-outline-success">{% trans "Confirm" %}</button>
    <a class="btn btn-outline-danger" href="{% url 'uzsakymas' uzsakymas.pk %}">{% trans "Cancel" %}</a>
</form>

{% endblock %}