{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Order create/edit" %}{% endblock%}

{% block content %}

<h2>{% trans "Order creation/editing" %}</h2>
<hr>
<form method="POST">
  {% csrf_token %}
  {% load crispy_forms_tags %}
  {{ form | crispy }}    
  <button type="submit" class="btn btn-outline-success my-1">{% trans "Confirm" %}</button>
  {% if uzsakymas.pk %}
    <a class="btn btn-outline-danger" href="{% url 'uzsakymas' uzsakymas.pk %}">{% trans "Cancel" %}</a>
  {% else %}
    <a class="btn btn-outline-danger" href="{% url 'manouzsakymai' %}">{% trans "Cancel" %}</a>
  {% endif %}

</form>

{% endblock%}