{% extends "base.html" %}

{% block title %}Užsakymas{% endblock %}

{% block content %}
{% load static %}
<h2>Info apie užsakymą:</h2>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>ID: <b>{{ uzsakymas.car.filled_id }}</b></p>
      <p>Užsakymo data: <b>{{ uzsakymas.date | date:"Y-m-d H:i" }}</b></p>
      <p>Terminas: <b>{{ uzsakymas.due_back | date:"Y-m-d" }}</b></p>
      <p>Automobilis: <b>{{ uzsakymas.car.make }} {{ uzsakymas.car.model }}</b></p>
      <p>Klientas: <b>{{ uzsakymas.car.client.title }}</b></p>
      <p>Valstybiniai numeriai: <b>{{ uzsakymas.car.license_plate }}</b></p>
      <p>VIN: <b>{{ uzsakymas.car.vin_code }}</b></p>
      <p>Užsakymo suma: <b>&euro;{{ uzsakymas.total | floatformat:2 }}</b></p>
      <p>Užsakymo statusas: 
        <span class="{% if uzsakymas.statusas == 'a' %}text-success
            {% elif uzsakymas.statusas == 'r' %}text-info
            {% elif uzsakymas.statusas == 'n' %}text-warning
            {% elif uzsakymas.statusas == 's' %}text-danger
            {% elif uzsakymas.statusas == 'c' %}text-secondary{% endif %}">
          <b><u>{{ uzsakymas.get_statusas_display }}</u></b>
        </span>
      </p>
    </div>
    <div class="col-md-6 col-sm-12 pb-3 ">
      {% include "image.html" with auto=uzsakymas.car%}
    </div>
  </div>
</div>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Paslauga</th>
      <th>Kaina</th>
      <th>Kiekis</th>
      <th>Suma</th>
    </tr>
  </thead>
    {% for uzsakymas in uzsakymas.lines.all %}
  <tbody>
    <tr>
      <td>{{ uzsakymas.paslauga.name | capfirst }}</td>
      <td>&euro;{{ uzsakymas.paslauga.price | floatformat:2 }}</td>
      <td>{{ uzsakymas.kiekis }}</td>
      <td>&euro;{{ uzsakymas.line_sum | floatformat:2 }}</td>
    </tr>
    {% endfor %}
    <th colspan="3">Bendra suma:</th>
    <th>&euro;{{ uzsakymas.total | floatformat:2 }}</th>
  </tbody>
</table>

<h2>Komentarai</h2>
<hr>
{% for komentaras in uzsakymas.komentaras.all %}
<p>
  {% if komentaras.komentatorius.photo %}
    <img src="{{ komentaras.komentatorius.photo.url }}" class="rounded-circle" style="width: 30px">
  {% else %}
    <img src="{% static 'img/no-profile.png' %}" class="rounded-circle" style="width: 30px">
  {% endif %}
  <strong>{{ komentaras.komentatorius }}</strong>, <em>{{ komentaras.sukurta }}</em></p>
<p>{{ komentaras.turinys }}</p>
{% empty %}
<p>Komentarų nėra</p>
{% endfor %}
{% if user.is_authenticated %}
<p>Įveskite papildomą užsakymo komentarą:
<form method="post" class="mb-2">
  {% csrf_token %}
  {% load crispy_forms_tags %}
  {{ form | crispy }}
  <button type="submit" class="btn btn-success">Pateikti</button>
</form></p>
{% endif %}
{% endblock %}