h2 {
    color: red;
}

/* ul { 
    font-size: 20px;
}

.container.mt-2 p {
    font-size: 20px;
    margin-left: 20px;
} */

hr {
    margin-top: 10px;
}

.dropdown-menu {
    background-color: oklch(29.951% 0.09473 139.175 / 0.758);


}

.navbar a:hover {
    display: block;
    background-color: oklch(53.469% 0.077 138.761 / 0.19);
    padding-left: 16px
}

@media (max-width: 767.98px) {
    .navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu {
        position:absolute;
        z-index:1000;
    }
}

.navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu .dropdown-item:hover{
      background-color: lab(85.94% -77.82 76.96 / 0.559);
  
}
.navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background-color: lab(88.21% -81.76 80.93);

}