h2 {
    color: red;
}

/* ul { 
    font-size: 20px;
}

.container.mt-2 p {
    font-size: 20px;
    margin-left: 20px;
} */

hr {
    margin-top: 10px;
}


.navbar a:hover {
    display: block;
    background-color: oklch(88.45% 0.2427 141.115 / 0.144);
}

@media (max-width: 767.98px) {
    .navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu {
        position:absolute;
        z-index:1000;
    }
}

.navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu .dropdown-item:hover{
      background-color: lab(25.59% -20.51 18.71 / 0.3);
  
}
.navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background-color: lab(25.59% -20.51 18.71 / 0.3);

}